@import "node_modules/craftcms-sass/mixins";

$prefix: "rynpsc-phonenumber";

.#{$prefix} {
	position: relative;
	display: flex;
}

.#{$prefix}-assistive {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.#{$prefix}-flag {
	@include margin-right(14px);
	display: inline-block;
}

.#{$prefix}-number {
    width: 100%;
    max-width: 25ch;
}

.#{$prefix}.has-errors .#{$prefix}-button,
.#{$prefix}.has-errors .#{$prefix}-number {
	border-color: $errorColor;
}

.#{$prefix}-button {
	@include margin-right(7px);
	@include input-styles();
	background-color: var(--white);
	display: flex;
	align-items: center;
	appearance: none;
	width: 60px;
    flex-shrink: 0;
	padding: 6px 9px;

	&:hover:not(:disabled),
	&.active:not(:disabled) {
		background-color: var(--gray-050);
	}

	&::-moz-focus-inner {
		border: 0;
	}
}

.#{$prefix}-button-caret {
	@include icon;
	@include margin-left(auto);
	z-index: 1;
	font-size: 14px;
    margin-top: 3px;
	display: block;
}

.#{$prefix}-dropdown {
	@include shadow();
	@include menu-styles;
	position: absolute;
	display: none;
	padding: 0;
	overflow: hidden;

	&.is-open {
		display: block;
	}

	&:focus {
		outline: 0;
	}
}

.#{$prefix}-search {
	padding: 14px;
	border-bottom: 1px solid $hairlineColor;
}

.#{$prefix}-regions {
	height: 100%;
	max-height: 252px;
	overflow-y: scroll;
	overscroll-behavior: contain;
	position: relative;
	scrollbar-color: $grey200 transparent;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background: $grey200;
	}
}

.#{$prefix}-region {
	@include menu-option-styles();
	box-sizing: border-box;
	display: flex;
	align-items: center;
	margin: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 13px;

	&.is-selected,
	&.is-highlighted {
		color: $white;
		background-color: $grey500;
		cursor: pointer;
	}
}

.#{$prefix}-country {
	@include margin-right(7px);
}

.#{$prefix}-code {
	@include margin-left(auto);
}

.#{$prefix}-no-results {
	display: none;
	font-size: 14px;
	padding: 14px;

	&.is-visible {
		display: block;
	}
}

@media only screen and (min-width: 673px) {
	.#{$prefix}-dropdown {
		min-width: 340px;
	}
}
