@import "node_modules/craftcms-sass/mixins";

$prefix: "rynpsc-phonenumber";

.#{$prefix} {
    position: relative;
    display: block;
    display: flex;
}

.#{$prefix}-assistive {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.#{$prefix}-flag {
    @include margin-right(14px);
    display: inline-block;
}

.#{$prefix}.has-errors .#{$prefix}-button,
.#{$prefix}.has-errors .#{$prefix}-number {
    border-color: $errorColor;
}

.#{$prefix}-button {
    @include margin-right(7px);
    @include input-styles();

    display: flex;
	align-items: center;
    appearance: none;
    width: 54px;

    &:focus,
    &.active {
        @include input-focused-styles();
    }

    &::-moz-focus-inner {
        border: 0;
    }
}

.#{$prefix}-button-caret {
    @include icon;
    @include margin-left(auto);
    z-index: 1;
    font-size: 14px;
    display: block;
}

.#{$prefix}-dropdown {
    @include shadow();
	position: fixed;
    top: calc(100% + 7px);
    top: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px;
    z-index: 100;
	display: none;
	padding: 0;
	overflow: hidden;
    background-color: $white;
    border-radius: $largeBorderRadius;

	&.is-open {
		display: block;
	}

	&:focus {
		outline: 0;
    }
}

.#{$prefix}-search {
    padding: 14px;
    border-bottom: 1px solid $hairlineColor;
}

.#{$prefix}-regions {
    height: 100%;
	overflow-y: scroll;
	overscroll-behavior: contain;
	position: relative;
    scrollbar-color: $grey200 transparent;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-thumb {
        background: $grey200;
	}
}

.#{$prefix}-region {
	@include menu-option-styles();
	box-sizing: border-box;
	display: flex;
	align-items: center;
	margin: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 13px;

	&.is-selected,
	&.is-highlighted {
		@include menu-option-active-styles();
        cursor: pointer;
	}
}

.#{$prefix}-country {
    @include margin-right(7px);
}

.#{$prefix}-code {
    @include margin-left(auto);
    color: $mediumTextColor;
}

.#{$prefix}-no-results {
	display: none;
	font-size: 14px;
	padding: 14px;

	&.is-visible {
		display: block;
	}
}

@media only screen and (min-width: 673px) {
    .#{$prefix}-dropdown {
        position: absolute;
        top: calc(100% + 7px);
        bottom: auto;
        left: 0;
        right: auto;
        min-width: 340px;
    }

    .#{$prefix}-dropdown.above {
        top: auto;
        bottom: calc(100% + 7px);
    }

    .#{$prefix}-regions {
        max-height: 252px;
    }
}
